<h1> Tacos!!!</h1>

<p> I love tacos</p>

<% fillings =["Carnitas", "All Pastor", "Pescado", "Mushroom"] %>

<!-- I'm a comment -->

<p> We have <%= fillings.count %> tacos </p>

<ur>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ur>